Django==5.1.3
gunicorn
dj-database-url
psycopg2-binary
whitenoise
cloudinary
django-cloudinary-storage
django-cleanup
django-widget-tweaks
django-crispy-forms
django-allauth
djangorestframework
djangorestframework-simplejwt
django-jazzmin
Pillow
openpyxl
crispy-bootstrap5